.video-title{
      font-size: 20px;
      font-weight: bold;
      width: 300px;
      font-family: arial;
      margin-bottom: 5px;


    }
    .video-date{
      font-family: arial;
      margin-top: 6px;
      font-size: 14px;
      margin-bottom: 10px; 
      color:grey;
    }
    .video-author{
      font-family: arial;
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 10px;

    }
    .video-description{
      font-family: arial;
      font-size: 14px;
      width: 280px;
      margin-top: 20px;
      margin-bottom: 110px;
    }
    .apple-shop{
      text-align: center;
      background-color: red;
      padding-top: 15px;
      padding-bottom: 15px;
      color: white;
      font-family: arial;

    }
    .shop{
      cursor: pointer;

    }
    .shop:hover{
      color: rgb(194, 29, 29);
      text-decoration: underline;
    }